<h1>Stupid coaching</h1>
<div class="your-question">
  <p><strong><%= params[:answer] %></strong></p>
  <p>-you</p>
</div>

<div class="coach-answer">
  <% if params[:answer] == "I am going to work right now!" %>
    <p><strong>great!</strong></p>
    <p>-your coach</p>
  <% elsif params[:answer].end_with?('?') %>
    <p><strong>Silly question, get dressed and go to work!</strong></p>
    <p>-your coach</p>
  <% else %>
    <p><strong>I don't care, get dressed and go to work!</strong></p>
    <p>-your coach</p>
  <% end %>
</div>

<%= link_to "Ask a new question", ask_path %>

