// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Roboto', sans-serif;
}

.coach-answer {
  border-left: 10px solid #DDDDDD;
  padding-left: 10px;
}

.your-question {
  border-left: 10px solid #DDDDDD;
  padding-left: 10px;
}


